<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello</h2>
    <p>
      Below are details of your enrolment:
    </p>
    <p>
      Student ID : <%= @student.id %>
    </p>
  </body>
</html>