
%table.table.table-hover
    %thead
        %tr
            %th Course ID
            %th Course Name
            %th Catalog_number
            %th Components
    %tbody
    - @courses.each_with_index do |course,i|
        %tr
            %th= course.id
            %th= course.name
            %th= course.catalog_number
            %th
                - components = course.components
                - components.each do |component|
                    %p= component.type + " " + component.id

