.red{
  background: #d40000 !important;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-blue{
    background: #005a9c !important;
    background-image: none;
    background-repeat: no-repeat;
}

.white{
  color: white !important;
}

.logo-padding{
  margin-top: 5px;
}